body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding-bottom: 50px;
}

.sidebar-top {
    display: flex;
    padding: 15px 0;
    width: 980px;
    align-items: center;
}

.sec1 {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 45px;
}

.sec1-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 45px;
}

.sec1-container p {
    width: 475px;
    margin-top: -25px;
}

.placeholder {
    background-color: grey;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 350px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: -35px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 -15px 0 auto;
    gap: 20px;
    justify-content: flex-end;
}

ul,
.sec1 p,
.placeholder,
button {
    font-size: 18px;
    color: #e5e7eb;

}

img {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
}

button {
    background-color: #3882f6;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

/* S E C T i O N 2 */

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 35px auto;
}

.one,
.two,
.three,
.four {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec2 {
    padding-bottom: 100px;
}

.sec2 p {
    width: 160px;
    text-align: center;
}

.info-text {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: -7px;
}

/* S E C T i O N 3 */

.sec3 {
    background-color: #e5e7eb;
    padding: 75px;
}

.sec3 p {
    max-width: 800px;
    margin: auto;
    padding-top: 25px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sec3 h3 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 590px;
}

/* S E C T i O N 4 */

.sec4 {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    max-width: 900px;
    padding: 35px;
    margin: 80px auto;
    border-radius: 10px;
}

.callToAction {
    font-size: 18px;
    color: #e5e7eb;
    margin: auto;
    line-height: 10%;
}

.sec4
.btn {
    justify-content: center;
    align-content: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
}

.footer {
    color: #e5e7eb;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}